.navbar-brand img {
    max-height: 30px;
    max-width: 155px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.yellow {
  background: yellow;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

.nodata {
  background: #f8bbd0;
}

.grey {
  background: #F5F5F5;
}