<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" /></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#overall" role="tab">Overall</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#human-rights" role="tab">Human Rights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#gdp" role="tab">GDP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#death-penalty" role="tab">Death Penalty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#diseases" role="tab">Diseases</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="overall" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="map_chart_overall" style="width: 900px; height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="human-rights" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="map_chart_humanrights" [chartData]="map_ChartData_HumanRights" [chartOptions] = "map_ChartOptions" chartType="GeoChart" GoogleChart></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="gdp" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="map_chart_gdp" [chartData]="map_ChartData_GDP" [chartOptions] = "map_ChartOptions" chartType="GeoChart" GoogleChart></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="death-penalty" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="map_chart_deathpenalty" [chartData]="map_ChartData_DeathPenalty" [chartOptions] = "map_ChartOptions_DeathPenalty" chartType="GeoChart" GoogleChart></div>
          </div>
          <div class="col">
              <ul class="list-group">
                <li class="list-group-item"><div class="foo nodata"></div>No data</li>
                <li class="list-group-item"><div class="foo grey"></div>Abolitionist countries</li>
                <li class="list-group-item"><div class="foo yellow"></div>Abolitionist countries except for crimes committed under exceptional circumstances (such as crimes committed in wartime</li>
                <li class="list-group-item"><div class="foo orange"></div>Abolitionist in practice countries (have not executed anyone during the last 10 years and are believed to have a policy or established practice of not carrying out executions)</li>
                <li class="list-group-item"><div class="foo red"></div>Retentionist countries</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="diseases" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="map_chart_diseases" [chartData]="map_ChartData_Diseases" [chartOptions] = "map_ChartOptions" chartType="GeoChart" GoogleChart></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid" style="margin-left: 40px; margin-top:30px;">
  <input id="ex01" type="text"
                        data-slider-ticks="[1, 2, 3]"
                        data-slider-ticks-labels='["2015", "2016", "2017"]'
                        data-slider-min="1"
                        data-slider-max="3"
                        data-slider-step="1"
                        data-slider-value="3"
                        data-slider-tooltip="hide" />
</div>